.weather{
   width: 100%;
   max-width: 350px;
   background-color:black;
   color: white;
   border-radius: 1em;
   padding: 1em 1.5em 2em;

}
.weather__title{
    padding: 0 0 0.4em;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
}
.weather__location{
    padding: 0 0 0.4em;
    color: blue;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}
.weather__body{
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items:center ;
}
.weather__condition{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    
}
.line{
    height: 0.4em;
    background-color: white;
}
.weater__des{
    color: blue;
    text-align: center;
}
.weater__list{
    color: blue;
    text-align: center;
    padding: 0.2em;
}

.weater__temp{
    color: aquamarine;
    text-align: center;
}
.weater__button{
    padding: 0 0 0 6.6em;
}

.weater__btn{
    background-color: white;
    color: black;
    border-radius: 1em;
    font-size: 1em;
    

}